#root {
  text-align: center;

}

.banner {
  padding: 140px;
  background-image: url("/Home/banner-img2.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.header-shop.MuiBox-root {
  /* height: 300px; */
  background-image: linear-gradient(#ffffff6c, #ffffff5e), url("/Shop/shop-header.jpg");
  background-size: cover;
  background-position: center;
  /* background-color: #9F9F9F; */
}

a,
a:visited {
  text-decoration: none;
  color: black
}

#cart-item-quantity {
  border: solid 1px #9F9F9F;
}

#cart-item-quantity:focus-visible {
  outline: none;
  border: 1px solid #B88E2F;
}

@media (max-width:800px) {
  .banner {
    padding: 80px;
  }

  .home-category.container {
    gap: 30px;
    /* overflow-y: hidden; */
    /* -webkit-overflow-scrolling: touch; */
  }

  .home.browse-range h2 {
    font-size: 1.1rem;
  }

  .home.browse-range h3 {
    font-size: 0.9rem;
  }

  .new-arrival-container .new-arrival-description {
    width: auto;
  }

  .new-arrival-container h1 {
    font-size: 3rem;
  }

  .new-arrival-container h2 h3 {
    font-size: 0.8rem;
  }

  .MuiTypography-root.home-our-product {
    font-size: 1.7rem;

  }

  .product-card h1 {
    font-size: 1.4rem;
  }

  .product-card h2 {
    font-size: 1rem;
  }

  .card-discount.MuiBox-root {
    width: 38px;
    height: 38px;

  }

  .card-discount h4 {
    font-size: 1rem;
  }

  .footer-container.MuiBox-root {
    padding: 20px 45px 20px 45px;
  }
}

@media (max-width:600px) {
  .new-arrival-container h1 {
    font-size: 1rem;
  }

  .home-category.container {
    gap: 20px;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .new-arrival-container .new-arrival-description {
    display: none;
  }

  .footer-container.MuiBox-root {
    grid-template-columns: 1fr 1fr;
  }

  .footer-hide.MuiBox-root {
    display: none;
  }
}