/* #root {
  text-align: center;

} */

.banner {
  padding: 140px;
  background-image: url("/Home/banner-img2.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.header-shop.MuiBox-root {
  background-image: linear-gradient(#ffffff6c, #ffffff5e), url("/Shop/shop-header.jpg");
  background-size: cover;
  background-position: center;
}

a,
a:visited {
  text-decoration: none;
  color: black
}

#cart-item-quantity {
  border: solid 1px #9F9F9F;
}

#cart-item-quantity:focus-visible {
  outline: none;
  border: 1px solid #B88E2F;
}

.product-buttons.container>div {
  padding: 5px 0;
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  background-color: #B88E2F;
}

.link-checkout.button {
  place-self: center;
}

/* Cart */
@media (max-width:900px) {

  /* Home */
  .banner {
    padding: 80px;
  }

  .home-category.container {
    gap: 30px;
  }

  .home.browse-range h2 {
    font-size: 1.1rem;
  }

  .home.browse-range h3 {
    font-size: 0.9rem;
  }

  .new-arrival-container .new-arrival-description {
    width: auto;
  }

  .new-arrival-container h1 {
    font-size: 3rem;
  }

  .new-arrival-container h2 h3 {
    font-size: 0.8rem;
  }

  .MuiTypography-root.home-our-product {
    font-size: 1.7rem;

  }

  /* Product container */
  .product-card h1 {
    font-size: 1.4rem;
  }

  .product-card h2 {
    font-size: 1rem;
  }

  .card-discount.MuiBox-root {
    width: 38px;
    height: 38px;

  }

  .card-discount h4 {
    font-size: 1rem;
  }

  /* Footer */
  .footer-container.MuiBox-root {
    padding: 20px;
  }

  .footer-container>.MuiBox-root {
    align-items: center;

  }

  /* Shop */
  .product-grid.container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .benefit-container.MuiBox-root {
    flex-direction: column;
  }

  .benefit-container.MuiBox-root h2 {
    font-size: 0.8rem;
    text-align: center;
  }

  /* Product Detail */
  /* title */
  .product-content.container {
    gap: 10px;
  }

  /* name */
  .product.name {
    font-size: 2rem;
  }

  /* price */
  .product.price {
    font-size: 1.5rem;
  }

  /* rating */
  .product.rating {
    font-size: 1.2rem;
  }

  .product.description {
    font-size: 0.8rem;
  }

  /* buttons */
  .product-buttons.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .product.buttons>div {
    width: fit-content;

  }

  .product.buttons input[type="text"] {
    padding: 5px 10px;

  }

  .product.buttons button[type="button"] {
    font-size: 1rem;
    padding: 5px 10px;
  }

  /* detailed review */
  .product.review-description h1 {
    font-size: 1.1rem;
    padding: 20px;
    word-break: break-all;
    box-sizing: border-box;
  }

  /* Cart  */
  /* checkout */
  .checkout.container {
    padding: 10px;
  }

  .checkout.cart-product {
    font-size: 1rem;
  }

  .checkout.cart-product svg {
    font-size: 2rem;
  }



}



@media (max-width:600px) {
  .new-arrival-container h1 {
    font-size: 1rem;
  }

  .home-category.container {
    gap: 20px;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .new-arrival-container .new-arrival-description {
    display: none;
  }

  .footer-container.MuiBox-root {
    grid-template-columns: 1fr 1fr;

  }

  .footer-container>.MuiBox-root {
    gap: 20px;
  }

  .footer-container.MuiBox-root h1 {
    font-size: 1rem;
  }

  .footer-hide.MuiBox-root {
    display: none;
  }

  /* Shop */


  .benefit-container.MuiBox-root svg {
    /* display: none; */
    font-size: 2rem;
  }

  /* .benefit-container.MuiBox-root.hide-benefit+div {
    display: none;
  } */

  /* Product details */
  .product.content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .product.content nav {
    padding: 0px;
  }

  .product.name {
    font-size: 1.4rem;
  }

  .product.price,
  .product.rating {
    font-size: 1rem;
  }


  .product.buttons div {
    font-size: 0.7rem;
  }

  .product.buttons button[type="button"] {
    width: fit-content;
    font-size: 0.7rem;
    padding: 5px 8px;
  }

  .product.review.side-title {
    font-size: 0.9rem;
    gap: 15px;
  }

  /* Cart  */
  .checkout.cart-product {
    font-size: 0.7rem;
  }

  .checkout.cart-product svg {
    font-size: 1.5rem;
  }

  /* checkout */
  .checkout.container {
    padding: 5px;
  }

  .link-checkout.button button {
    font-size: 0.7rem;
    padding: 10px;
  }

  .checkout.title {
    font-size: 1rem;
  }

  .checkout.subtotal-title {
    font-size: 0.8rem;
  }

  .checkout.subtotal-value {
    font-size: 0.9rem;

  }



  .checkout.total-value {
    font-size: 1.2rem;

  }
}