#root {
  text-align: center;

}

.banner {
  background-image: url("/Home/banner-img2.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.header-shop {
  /* width: 100%; */
  /* height: 300px; */
  background-image: url("/Shop/shop-header.jpeg");
  background-size: cover;
  background-position: center;

}

a,
a:visited {
  text-decoration: none;
  color: black
}

#cart-item-quantity {
  border: solid 1px #9F9F9F;
}

#cart-item-quantity:focus-visible {
  outline: none;
  border: 1px solid #B88E2F;
}