#root {
  text-align: center;

}

.banner {
  padding: 140px;
  background-image: url("/Home/banner-img2.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.header-shop.MuiBox-root {
  background-image: linear-gradient(#ffffff6c, #ffffff5e), url("/Shop/shop-header.jpg");
  background-size: cover;
  background-position: center;
}

a,
a:visited {
  text-decoration: none;
  color: black
}

#cart-item-quantity {
  border: solid 1px #9F9F9F;
}

#cart-item-quantity:focus-visible {
  outline: none;
  border: 1px solid #B88E2F;
}

.product-buttons.container>div {
  padding: 5px 0;
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  background-color: #B88E2F;
}

@media (max-width:900px) {

  /* Home */
  .banner {
    padding: 80px;
  }

  .home-category.container {
    gap: 30px;
  }

  .home.browse-range h2 {
    font-size: 1.1rem;
  }

  .home.browse-range h3 {
    font-size: 0.9rem;
  }

  .new-arrival-container .new-arrival-description {
    width: auto;
  }

  .new-arrival-container h1 {
    font-size: 3rem;
  }

  .new-arrival-container h2 h3 {
    font-size: 0.8rem;
  }

  .MuiTypography-root.home-our-product {
    font-size: 1.7rem;

  }

  /* Product container */
  .product-card h1 {
    font-size: 1.4rem;
  }

  .product-card h2 {
    font-size: 1rem;
  }

  .card-discount.MuiBox-root {
    width: 38px;
    height: 38px;

  }

  .card-discount h4 {
    font-size: 1rem;
  }

  /* Footer */
  .footer-container.MuiBox-root {
    padding: 20px;
  }

  .footer-container>.MuiBox-root {
    align-items: center;

  }

  /* Shop */
  .benefit-container.MuiBox-root {
    flex-direction: column;
  }

  .benefit-container.MuiBox-root h2 {
    font-size: 0.8rem;
    text-align: center;
  }

  /* Product Detail */
  /* title */
  .product-content.container {
    gap: 10px;
  }

  .product-details.container h1 {
    font-size: 2rem;
  }

  .product-details.container h5 {
    font-size: 1.5rem;
  }

  .product-rating.container span,
  .product-rating.container h5 {
    font-size: 1.2rem;
  }

  .product-description.container h6 {
    font-size: 0.8rem;
  }

  .product-buttons.container>div {
    max-width: 130px;
  }

  .product-buttons.container input[type="text"] {
    padding: 0;
  }

  .product-buttons.container button[type="button"] {
    font-size: 1rem;
    padding: 5px 10px;
  }
}



@media (max-width:600px) {
  .new-arrival-container h1 {
    font-size: 1rem;
  }

  .home-category.container {
    gap: 20px;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .new-arrival-container .new-arrival-description {
    display: none;
  }

  .footer-container.MuiBox-root {
    grid-template-columns: 1fr 1fr;

  }

  .footer-container>.MuiBox-root {
    gap: 20px;
  }

  .footer-container.MuiBox-root h1 {
    font-size: 1rem;
  }

  .footer-hide.MuiBox-root {
    display: none;
  }

  /* Shop */
  .benefit-container.MuiBox-root.hide-benefit {
    display: none;
  }

  .benefit-container.MuiBox-root.hide-benefit+div {
    display: none;
  }

  /* Product details */
  .product-details.container h1 {
    font-size: 1.4rem;
  }

  .product-details.container h5 {
    font-size: 1rem;
  }

  .product-rating.container span,
  .product-rating.container h5 {
    font-size: 1rem;
  }



  .product-buttons.container>div {
    font-size: 0.7rem;
    max-width: 100px;
  }

  .product-buttons.container button[type="button"] {
    font-size: 0.7rem;
    padding: 5px 8px;
  }
}